<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Egzamin iOS Adam Czerwiński
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Egzamin iOS Adam Czerwiński</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-input type="text" placeholder="Imię" clearInput #imie></ion-input>
    <ion-input
      type="text"
      placeholder="Nazwisko"
      clearInput
      #nazwisko
    ></ion-input>
    <ion-button [disabled]="!imie.value || !nazwisko.value" (click)="onSend(imie.value, nazwisko.value)">Wyślij</ion-button>
    <ng-container *ngIf="kodWynikowy">{{kodWynikowy}}</ng-container>
  </div>
</ion-content>
